* {
    --main-font: 'Righteous';
    --main-color:  #F4B20E;
    --secondary-color: black;
    --padding-standard: 50px;
}

button,
label,
input,
select,
progress,
meter {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    width: 100vw;
    height: 85vh;
    display: flex;
}
#image_block {
    background-image: url('/source/4.png');
    width: 80%;
    position: relative;
}

#transparent_block {
    background-color: var(--secondary-color);
    position: absolute;
    top: 31%;
    opacity: 20%;
    width: 100%;
    height: 20%;
}

.text {
    font-family: var(--main-font, sans-serif);
    margin: 0;
    padding-left: var(--padding-standard);
    padding-right: var(--padding-standard);
}

.logo {
    max-height: 250px;
    padding: 10px;
    position: absolute;
    top: 23%;
    right: 20%;
}

#form_panel {
    display: flex;
    flex-direction: column;
    margin: 0;

}

#form_container {
    background-color: var(--secondary-color) ;
    padding: var(--padding-standard);
    opacity: 90%;
    box-shadow: 0px 10px 10px;
    

}

.form_item {
    flex: auto;
    display: flex;
    display: inline-block;
    padding-right: 30px;
    padding-top: 25px;
}

label {
    font-family: sans-serif;
    color: var(--main-color);
    display: flex;
    font-size: 0.8rem;
    padding-bottom: 5px;
    flex: auto;
}

#strapline {
    margin-top: 10%;
    font-size: clamp(2.5rem, 4rem, 5rem) ;
}

#subheading {
    font-size: clamp(1.2rem, 2vw, 1.5rem); 
    margin-bottom: 30px;
}

#form {
    display: inline-block;
}

input {
    width: clamp(100px, 20vw, 500px); ;
    padding: 5px;
    font-size: 1.2rem;
    font-family: var(--main-font);
    border-radius: 10px;
    background-color: var(--secondary-color);
    border: solid var(--main-color) 1px;
    color: var(--main-color);
    flex: auto;
}

input:focus,
input:active {
    opacity: 80%;
    box-shadow: 0 2px 15px var(--main-color);
}

input:required {
    background: var(--secondary-color);
    color: var(--main-color);
    box-shadow: 0 2px 15px var(--main-color);
}

#submit {
    background-color: var(--secondary-color);
    color: var(--main-color);
    font-size: 1.5rem;
    height: 3rem;
    width: 15rem;
    border-radius: 10px;
    font-family: var(--main-font);
    margin-left: var(--padding-standard);
    margin-top: 30px;
    opacity: 90%;
    border: solid var(--secondary-color) 2px;
}

#submit:hover,
#submit:focus {
  outline: none;
  background: var(--main-color);
  color: var(--secondary-color);
}

#existing_account {
    margin-left: var(--padding-standard);
    font-family: var(--main-font);
    font-size: 1rem;
}