* {
    --main-font: 'Righteous';
    --main-color:  #F4B20E;
    --secondary-color: black;
    --padding-standard: 50px;
}

button,
label,
input,
select,
progress,
meter {
  display: block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    width: 100vw;
    height: 85vh;
    display: flex;
}
#image_block {
    background-image: url('/source/4.png');
    width: 600px;
    position: relative;
}

#transparent_block {
    background-color: var(--secondary-color);
    position: absolute;
    top: 20%;
    opacity: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.text {
    font-family: var(--main-font, sans-serif);
    margin: 0;
    padding-left: var(--padding-standard);
    padding-right: var(--padding-standard);
}

.logo {
    max-height: 150px;
    padding: 10px;
}

#form_panel {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#form_container {
    background-color: var(--secondary-color) ;
    padding: var(--padding-standard);
    opacity: 90%;

}

.form_item {
    flex: auto;
    display: flex;
    display: inline-block;
    padding-right: 30px;
    padding-top: 25px;
}

label {
    font-family: sans-serif;
    color: var(--main-color);
    display: flex;
    font-size: 0.8rem;
    padding-bottom: 5px;
    flex: auto;
}

#spacer {
    height: 20%;
}

#strapline {
    font-size: 4rem;
}

#subheading {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

#form {
    display: inline-block;
}

input {
    width: 35vw;
    padding: 5px;
    font-size: 1.2rem;
    font-family: var(--main-font);
    border-radius: 10px;
    background-color: var(--secondary-color);
    border: solid var(--main-color) 1px;
    color: var(--main-color);
    flex: auto;
}
